/* FONTS */
/* Main Headlines - Bebas Neue Pro*/
@import url("https://use.typekit.net/nbl3hht.css");
/* Main text, secondary headlines - Montserrat*/
@import url('https://fonts.googleapis.com/family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    /*Main color palette*/
    --main-black: #000000;
    --main-pink: #f48e89;
    --main-green: #719067;
    --main-gray: #DEDEDE;
}

*

/*Formatting reset*/
    {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/*Default display fix*/
html,
body {
    width: 100%;
    height: 100%;
}

html {
    /*Default body typeface - Montserrat*/
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

/*Menu from btw theme*/
.flag-icon{
    height: 13px;
    width: auto;
    vertical-align:middle
}

nav {
    height: 100px;
    background: rgba(255, 255, 255, 0.795);
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.logo {
    height: 10vh;
    margin-left: 30px;
    margin-top: 10px;
}

nav ul {
    float: right;
    margin-right: 20px;
}


/*delete .logo after inserting logo*/
nav ul li {
    display: inline-block;
    line-height: 90px;
    margin: 0 25px;
}

nav ul li a {
    position: relative;
    font-size: 1.3em;
    padding: 7px 0;
    font-weight: 700;
    vertical-align:middle;
    color: var(--main-black)
}

nav ul li a:hover {
    opacity: 0.7;
}

label #btn, label .cancel {
    color: var(--main-dark-color);
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/* ========================================================================== */
/* CONTENT STYLES */
/* ========================================================================== */

/* Intro section margin */
.intro-layout-margin {
    margin: 40px 100px;
}

/* Default layout margin */
.def-layout-margin {
    margin: 40px 150px;
}


/* Main headlines styles*/
h1 {
    font-family: "bebas-neue-pro", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 80px;
    text-transform: uppercase;
}

h2 {
    font-family: "bebas-neue-pro", sans-serif;
    text-align: center;
    font-size: 2.6em;
    margin-top: 60px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    padding: 20px 0 10px 0;
    font-size: 1.5em;
}

.q-headline {
    color: var(--main-green);
    font-weight: 500;
}

.footer-h2 {
    font-family: "bebas-neue-pro", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 4em;
    text-align: left;
}

div a {
    color: var(--main-pink);
    font-weight: 600;
}

/* Main body text styles */
p {
    font-size: 1.2em;
    line-height: 140%;
    padding-bottom: 10px;
}

/* Intro text */
.p-intro {
    font-size: 1.7em;
    padding-right: 1.3rem;
    font-weight: 500;
}


/*Introduction section*/
.intro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
}

.intro-text-container {
    width: 45%;
}

.intro-image {
    padding-left: 30px;

}

.intro-image img {
    height: 70vh;
    max-width: 100%;
    object-fit: cover;
}

.intro-btns-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#explore-link {
    font-size: 1.3em;
    color: var(--main-black);    
}

#explore-link:hover {
    opacity: 0.8;
    cursor: pointer;
}

.arrow-style {
    color: var(--main-green);
    padding: 5px;
}

.icon-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.icon-container {
    margin: 20px;
}

.icon-container img {
    margin: auto;
    display: block;
    padding: 20px;
}


/* Icon section */
.icon-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.icon-container {
    margin: 20px;
}

.icon-container img {
    margin: auto;
    display: block;
    padding: 20px;
}

/* About brand section */
.about-brand-txt {
    flex: 2;
}

.about-brand-img {
    flex: 1;
}

.ab-flex {
    display: flex;

    justify-content: space-between;
}

.some-icons {
    height: 5vh;
}

.some-spacing {
    margin: 0 0 0 25px;
}


/* Process section */


.process-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.process-container img {
    height: 50vh;
    max-width: 100%;
    margin: 10px;
}

/* Collection section */
.collections-container,
.how-to-use-cotainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;

}

.collections-container img {
    height: 60vh;
    width: auto;
    margin: 10px;
}

/*.collections-container a:hover {
    opacity: 0.8;
}
*/
.centered-text {
    text-align: center;
}

.price {
    font-weight: 700;
    font-size: 1.2em;
    padding-left: 0.7rem;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--main-pink);
  }

.product-img {
    position: relative;
}

.product-img:hover .overlay {
    opacity: 0.9;
}

.text {
    color: white;
    font-size: 1.6em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 600;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

/* FAQ section */
.faq-flex {
    display: flex;
    flex-wrap: wrap;
}


.faq h3,
p {
    text-align: left;
}

.q-container {
    flex: 40%;
    margin: 40px;
}

/* Footer section */
footer {
    background-color: #F3F3F2;
    /* Background image */
    background-image: url(assets/pot-footer.png);
    background-repeat: no-repeat;
    background-position: right;
    color: var(--main-black);
    padding: 10px 0;
    margin-top: 30px;
}


.footer-contact {
    margin: 0 50px;
}

.contact-details {
    display: flex;
    flex-wrap: wrap;
}

.contact-flex {
    width: 40%;
    margin-right: 30px;
}

footer a {
    color: var(--main-black);
}

.footnote {
    text-align: center;
    padding-top: 50px;
}

/* ========================================================================== */
/* COLLECTION PAGES */
/* ========================================================================== */
.collection-columns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-self: space-around;
}


.column {
    flex: 33%;
}

.column img {
    margin: 11px;
}

/* ========================================================================== */
/* BUTTONS */
/* ========================================================================== */
.shop-now {
    color: var(--main-green);
    background-color: var(--white);
    border: 3px solid;
    padding: 20px 50px;
    font-size: 1.3em;
    font-weight: 600;
    margin: 40px 0;
    margin-right: 40px;
    cursor: pointer;
    border-radius: 100px;
    white-space: nowrap;
}

.main-btn {
    color: white;
    background-color: var(--main-green);
    border: none;
    padding: 25px 50px;
    font-size: 1.3em;
    font-weight: 700;
    margin: 60px 0;
    cursor: pointer;
}

.shop-now:hover {
    color: white;
    background-color: var(--main-green);
}

.main-btn:hover {
    opacity: 0.8;
}


/* ========================================================================== */
/* MEDIA QUERIES */
/* ========================================================================== */
@media  only screen and (max-width: 1340px) {
    .intro-btns-flex {
        justify-content: center;
   }

    .contact-details {
        flex-direction: column;
    }

}
@media only screen and (max-width: 1100px) {
    .contact-flex {
        width: 90%;
        padding-top: 20px
    }

    .ab-flex {
        flex-direction: column-reverse;
        justify-content: center;
    }
}

@media only screen and (max-width: 930px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
    }

    .main-btn {
        padding: 20px 40px;
        font-size: 1.1em;
    }

    .def-layout-margin,
    .intro-layout-margin {
        margin: 40px 50px;
    }


    .q-container {
        flex: 100%;
    }

    img {
        object-fit: cover;
    }

    nav ul li a {
        font-size: 1em;
    }

    .intro-container {
        margin-top: 70px;
    }

    nav ul li a {
        font-size: 0.9em;
    }
    
}

@media only screen and (max-width: 760px) {
    nav ul li a {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 725px) {
    label #btn{
        display:block;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(255, 255, 255, 0.795);
        top: 100px;
        left: -100%;
        text-align : center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }
    #check:checked ~ ul {
        left: 0;
    }

    #check:checked ~ label #btn {
        display: none;
    }

    #check:checked ~ label .cancel {
        display: block;
    }

    .intro-container {
        display: block;
        padding-top: 40px
    }

    .intro-text-container {
        width: 100%;
    }

    .intro-image {
        display: none;
    }

    .process-container img {
        height: auto;
        max-width: 100%;
    }


    img {
        max-width: 100%;
    }


    h1 {
        font-size: 70px;
    }

    .def-layout-margin,
    .intro-layout-margin {
        margin: 40px 30px;
    }

    .collection-columns {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .column {
        width: 80%;
    }

    .some-icons {
        height: 5vh;
        margin-top: 20px;

    }

    .contact-flex {
        width: 80%;
        margin-right: 30px;
    }

    footer {
        background-image: none;
    }
}

@media only screen and (max-width: 550px) {
  
    .collections-container img {
        margin: 0;
    }
}